@import "colors.css";

html,
body {
  height: 100vh;
}

.wrapper {
  background-image: linear-gradient(180deg, var(--color-tertiary) 20%, var(--color-tertiary-dark))
}

.btn-login {
  border: none;
  border-radius: 50px;
  width: 160px;
  height: 25px;
  background-color: var(--color-secondary);
  cursor: pointer;
  font-weight: bold;
  margin-top: 50px;
}

.wrapper main {
  margin-top: 200px;
  height: 100%;
}

.btn-login a {
  display:block;
  width: 100%;
  color: white;
}
