<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../static/js/tailwind.config.js"></script>
    <title>Home</title>
</head>
<body class="h-screen flex flex-col items-center justify-between bg-gradient-to-t from-primary to-parimdary-dark">
    <main class="my-52">
        <h1 class="text-xl lg:text-3xl md:text-2xl font-bold text-secondary">Bem-vindo ao MyTasks</h1>
        <p class="text-base md:text-lg lg:text-xl text-primary-dark font-bold">Faça o login para continuar</p>
        <button class="w-screen md:w-28 mt-8 h-9 bg-transparent hover:bg-primary-dark text-secondary font-semibold hover:text-white border border-secondary hover:border-transparent rounded">
            <a class="block w-full" href="/login">Entrar</a>
        </button>
    </main>
    <footer class="text-sm md:text-base"><i class="fa-solid fa-copyright"></i> Copyright | Alexandre Morais | 2022 | <a href="https://github.com/Xandowski/crud-flask"><i class="fa-brands fa-github"></i></a></footer>
</body>
</html>