<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <title>Profile Page</title>
</head>

<body>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <div class="logged-in-box auth0-box logged-in">
        <nav class="navbar">
            <img class="logo" src="//cdn.auth0.com/samples/auth0_logo_final_blue_RGB.png"/>
            <h2>Welcome {{userinfo['name']}}</h2>
            <div>
                <img class="avatar" src="{{userinfo['picture']}}" />
                <a class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a>
            </div>
        </nav>
        <main>
            <h1 clas="title">Tasks</h1>
            <section class="new-task">
                    <!-- <label for="task-input">
                        <p class="input-name">Add task:</p>
                        <input type="text" id=""task-input>
                    </label>

                    <label for="date-input">
                        <p clas="input-name">Expiration date:</p>
                        <input type="date" id=""date-input>
                    </label> -->
                    <form class="form-inline" hx-post="/task/create" hx-swap="beforebegin" hx-target="#newTask" >
                        <label for="task-name" class="form-group mx-sm-3 mb-2">
                            <p>Task name:</p>
                            <input type="text" class="form-control" name="create-task" id="task-name">
                        </label>
                        <label for="expiration-date" class="form-group mx-sm-3 mb-2">
                            <p>Expiration date:</p>
                            <input type="date" class="form-control" name="create-date" id="expiration-date">
                        </label>
                        <button class="btn btn-primary mb-2 centre">Add</button>
                    </form>
            </section>
            
           <section>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Edit/Delete</th>
                        <th scope="col">Expiration</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for t in tasks%}
                        <form class="form-inline" hx-post="/task/{{t.id}}/edit" hx-swap="beforebegin" hx-target="#newTask">
                            <tr>
                                <td><input readonly type="text" name="create-task" value={{t.name}}></td>
                                <td>
                                    <span id='clickableAwesomeFont'><i class='fas fa-edit fa-lg' name='a' hx-post='/task/edit/{{t.id}}'hx-target='closest tr' hx-swap='outerHTML swap:1s'></i></span>
                                    <span id='clickableAwesomeFont'><i class='fas fa-trash fa-lg' name='a' hx-delete='/task/delete/{{t.id}}' hx-target='closest tr' hx-swap='outerHTML swap:1s'></i></span>        
                                </td>
                                <td><input readonly type="date" name="create-date" value={{t.create_date}}></td>
                            </tr>
                        </form>
                        {%endfor%}
                        <tr id="newTask"></tr>
                    </tbody>
                </table>
           </section>
        </main>
    </div>
</body>

</html>
