<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <script src="../static/js/tailwind.config.js"></script>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <title>Profile Page</title>
</head>

<body class="flex flex-col items-center justify-between bg-primary h-screen">
    <div class="logged-in-box auth0-box logged-in">
        <nav class="flex justify-between items-end w-screen h-16 bg-primary-dark text-secondary text-secondary">
            <img class="md:ml-3 h-14 rounded-full" src="{{userinfo['picture']}}" />
            <h2 class="text-base lg:text-3xl md:text-2xl">Bem-vindo, {{userinfo['name']}}</h2>
            <a class="btn" href="/logout"><span class="mr-3 font-bold hidden md:inline-block">Sair</span><i class="fa-solid fa-arrow-right-from-bracket md:mr-3"></i></a>
        </nav>
        <main class="text-center">
            <h1 class="text-2xl md:text-3xl font-bold text-secondary drop-shadow-lg">MyTasks</h1>
            <section class="mt-5">
                <form 
                    class="form-inline flex flex-col items-center text-left text-primary-dark font-bold" 
                    hx-post="/task/create/{{user.id}}" 
                    hx-swap="beforebegin"
                    hx-target="#newTask" 
                >
                    <label for="task-name" class="form-group mt-3 md:flex md:justify-between md:w-1/4 ">
                        <p>Task name:</p>
                        <input type="text" class="form-control form-input px-1 py-1 h-8 w-56 text-primary-dark" name="create-task" id="task-name" required>
                    </label>
                    <label for="expiration-date" class="form-group mt-3 md:flex md:justify-between md:w-1/4">
                        <p>Expiration date:</p>
                        <input 
                            type="date" 
                            class="cursor-pointer form-control form-input px-1 py-1 h-8 w-56 text-primary-dark" name="create-date" 
                            id="expiration-date"
                            min="{{date}}"
                        >
                    </label>
                    
                    <button class="w-56 md:w-1/4 mt-3 bg-transparent drop-shadow-lg hover:bg-btn-task text-secondary font-semibold hover:text-primary-dark border border-secondary hover:border-transparent rounded">CREATE TASK</button>
                </form>
        </section>
            
           <section class="flex justify-center py-10">
                <table class="table delete-row-example w-screen md:w-1/4 table-auto">
                    <tbody class="w-full" hx-target="closest tr" hx-swap="outerHTML">
                        {%for t in tasks%}
                    
                            <tr class="font-bold text-primary-dark mt-3">
                                <td>{{t.name}}</td>
                                <td>{{t.create_date}}</td>
                                <td>
                                    <span
                                        hx-target='closest tr' 
                                        hx-swap='outerHTML swap:1s'
                                        hx-get='/task/{{t.id}}/edit'
                                        hx-trigger="edit"
                                        _="on click
                                            if .editing is not empty
                                            Swal.fire({title: 'Already Editing', 
                                                        showCancelButton: true,
                                                        confirmButtonText: 'Yep, Edit This Row!',
                                                        text:'Hey!  You are already editing a row!  Do you want to cancel that edit and continue?'})
                                            if the result's isConfirmed is false
                                                halt
                                            end
                                            send cancel to .editing
                                            end
                                            trigger edit"
                                    >
                                        <i 
                                            class='fas fa-edit cursor-pointer' 
                                            name='edit'
                                            hx-get='/task/{{t.id}}/edit'
                                        ></i>
                                    </span>
                                    <span><i class='fas fa-trash text-delete cursor-pointer' name='delete' hx-delete='/task/delete/{{t.id}}' hx-target='closest tr' hx-swap='outerHTML swap:1s'></i></span>        
                                </td>
                            </tr>
                        {%endfor%}
                        <tr id="newTask"></tr>
                    </tbody>
                </table>
           </section>
        </main>
    </div>
    <footer class="font-bold text-sm md:text-base"><i class="fa-solid fa-copyright"></i> Copyright | Alexandre Morais | 2022 | <a href="https://github.com/Xandowski/crud-flask"><i class="fa-brands fa-github"></i></a></footer>
</body>

</html>
